body{
	/*background-color:#eee;*/
	background:whitesmoke;
	width:100%;
	height:100%;
    padding-top: 0px !important;
}


.stickyclose {
    position:absolute;
    top:4px;
    right: -2px;
    width: 14px;
    height: 12px;
    font-size: 10px;
    font-size:10px;
    font-family:times new roman;
    text-indent:2px;
    color:#FFF;
    text-decoration:none;
    cursor:hand;
    background-color:rgba(0, 0, 0, 0.3);
    box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 1);
    -webkit-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 1);
    -moz-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 1);
    -o-box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25), -1px -1px 2px rgba(255, 255, 255, 1);
    -webkit-border-radius:75px;
    -moz-border-radius:75px;}
    
.stickyclose:hover {
    background-color:rgba(0, 0, 0, 0.5);}
    
.stickyclose:active {
    background-color:rgba(0, 0, 0, 0.8);
    box-shadow:0px 0px 8px rgba(0, 0, 0, 1), -1px -1px 2px rgba(255, 255, 255, 1);
    -webkit-box-shadow:0px 0px 8px rgba(0, 0, 0, 1), -1px -1px 2px rgba(255, 255, 255, 1);
    -moz-box-shadow:0px 0px 8px rgba(0, 0, 0, 1), -1px -1px 2px rgba(255, 255, 255, 1);
    -o-box-shadow:0px 0px 8px rgba(0, 0, 0, 1), -1px -1px 2px rgba(255, 255, 255, 1);}





.headingstyle{
    margin-top:-5%;
    border-bottom: 1px solid grey;
    box-shadow: 2px 2px 7px grey;
}

    
textarea.stickynotes {
    width: 130%;
    height: 87px;
    margin-bottom: -60%;
    border: 0px;
    margin-left: -13%;
    resize: none;
    background: transparent;
    padding: 10px 0px 0px 8px;
    /*font-family: 'Reenie Beanie', serif;*/
    font-size: 95%;
    color:grey;
    padding-top: 1%;
    overflow:hidden;
}


.container{
	background-color:#fff;
	/*max-width:97%;*/
	max-width: 100%;
	/*min-width: 400px;*/
	width:100%;
    padding-top: 5%;
	
}

.sideboard{
	position: relative;
	width:30%;
	float: :left;
	display: inline-block;
	height:400px;
}

.centerdiv{
	position: relative;
	height:400px;
	float: :right;
	display: inline-block;
	text-align: center;
	border:1px solid #ddd;
	position: absolute;
	top:9%;left:133%;
	/*background: #ddd;*/
	height:auto;
	border-radius: 8px;
    width:1073px;
}

.centerdiv p{
	text-align: left;
	font-size: 16px;
	font-weight: bold;
	padding-left: 3%;
	padding-top: 2%;
}

.chart1,.chart2,.chart3,.chart4{
	height: 190px;
}
.sprintDiv{
	margin-bottom: 3%;
    position: absolute;
    height:400px;
    float: :right;
    display: inline-block;
    text-align: center;
    border:1px solid #ddd;
   
    left:133%;
    top:10%;
    background: #ddd;
    height:auto;
    border-radius: 8px;
	/*height:500px;
	overflow-y:auto;*/
}


.sprintDiv2 {
margin-bottom: 3%;
position: absolute;
height: 400px;
float: :right;
display: inline-block;
text-align: center;
border: 1px solid #ddd;
left: 262%;
background: #ddd;
height: auto;
border-radius: 8px;
top: 48%;
}
.chartDiv{
    margin-bottom:6px;
}

#sprintlist li{
	list-style-type: none;
	margin: 3px 3px 3px 0;
	margin-left: -10%;
}

#sprintlist li p {
    font-family:'Reenie Beanie', serif;
    font-size: 165%;
}

#sprintlist li:nth-child(even) a {
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    position: relative;
    top: 5px;    
}
 
#sprintlist li:nth-child(3n) a {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: relative;
    top: -5px;    
}
 

#sprintlist li:nth-child(5n) a {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    position: relative;
    top: -10px;    
}

/*
#sprintlist li a:hover, #sprintlist li a:focus {
    background-color: #6CF;
    -moz-box-shadow: 10px 10px 7px rgba(0,0,0,.7); 
      -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7); 
      box-shadow: 10px 10px 7px rgba(0,0,0,.7); 
    -webkit-transform: scale(1.25); 
    -moz-transform: scale(1.25); 
    -o-transform: scale(1.25); 
    position: relative; 
    z-index: 5; 
}

*/

#sprintlist li a {
    background-color: #fcffa3;
    color: black;
    display: block;
    height: 9em;
	padding: 1em;
	text-decoration: none;
	width: 9em;
    -moz-box-shadow: 5px 5px 5px #776C6C;
    -webkit-box-shadow: 5px 5px 5px #776C6C;
    box-shadow: 5px 5px 5px #776C6C;
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);   
    -moz-transition: -moz-transform .15s linear; 
    -o-transition: -o-transform .15s linear; 
    -webkit-transition: -webkit-transform .15s linear;   
}

.inProcess li{
	list-style-type: none;
	margin: 3px 3px 3px 0;
	margin-left: 6%;
}

.inProcess li p {
    font-family:'Reenie Beanie', serif;
    font-size: 165%;
}


.inProcess li:nth-child(even) a {
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    position: relative;
    top: 5px;    
}
 
.inProcess li:nth-child(3n) a {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: relative;
    top: -5px;    
}
 

.inProcess li:nth-child(5n) a {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    position: relative;
    top: -10px;    
}



.inProcess li a {
    background-color:rgb(0, 178, 255);
    color: black;
    display: block;
    height: 9em;
	padding: 1em;
	text-decoration: none;
	width: 9em;
    -moz-box-shadow: 5px 5px 5px #776C6C;
    -webkit-box-shadow: 5px 5px 5px #776C6C;
    box-shadow: 5px 5px 5px #776C6C;
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);   
    -moz-transition: -moz-transform .15s linear; 
    -o-transition: -o-transform .15s linear; 
    -webkit-transition: -webkit-transform .15s linear;   
}


.done li{
	list-style-type: none;
	margin: 3px 3px 3px 0;
	margin-left: 6%;
}

.done li p {
    font-family:'Reenie Beanie', serif;
    font-size: 165%;
}


.done li:nth-child(even) a {
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    position: relative;
    top: 5px;    
}
 
.done li:nth-child(3n) a {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: relative;
    top: -5px;    
}
 

.done li:nth-child(5n) a {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    position: relative;
    top: -10px;    
}



.done li a {
    background-color:rgb(226, 249, 23);
    color: black;
    display: block;
    height: 9em;
    padding: 1em;
    text-decoration: none;
    width: 9em;
    -moz-box-shadow: 5px 5px 5px #776C6C;
    -webkit-box-shadow: 5px 5px 5px #776C6C;
    box-shadow: 5px 5px 5px #776C6C;
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);   
    -moz-transition: -moz-transform .15s linear; 
      -o-transition: -o-transform .15s linear; 
      -webkit-transition: -webkit-transform .15s linear;   
}


.poAcceptedrejected li{
	list-style-type: none;
	margin: 3px 3px 3px 0;
	margin-left: 6%;
}

.poAcceptedrejected li p {
    font-family:'Reenie Beanie', serif;
    font-size: 165%;
}


.poAcceptedrejected li:nth-child(even) a {
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    position: relative;
    top: 5px;    
}
 
.poAcceptedrejected li:nth-child(3n) a {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: relative;
    top: -5px;    
}
 

.poAcceptedrejected li:nth-child(5n) a {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    position: relative;
    top: -10px;    
}



.poAcceptedrejected li a {
    background-color:rgb(73, 224, 21);
    color: black;
    display: block;
    height: 9em;
    padding: 1em;
    text-decoration: none;
    width: 9em;
    -moz-box-shadow: 5px 5px 5px #776C6C;
    -webkit-box-shadow: 5px 5px 5px #776C6C;
    box-shadow: 5px 5px 5px #776C6C;
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);   
    -moz-transition: -moz-transform .15s linear; 
      -o-transition: -o-transform .15s linear; 
      -webkit-transition: -webkit-transform .15s linear;   
}

.clientAcceptedrejected li{
	list-style-type: none;
	margin: 3px 3px 3px 0;
	margin-left: 6%;
}

.clientAcceptedrejected li p {
    font-family:'Reenie Beanie', serif;
    font-size: 165%;
}


.clientAcceptedrejected li:nth-child(even) a {
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    position: relative;
    top: 5px;    
}
 
.clientAcceptedrejected li:nth-child(3n) a {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: relative;
    top: -5px;    
}
 

.clientAcceptedrejected li:nth-child(5n) a {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    position: relative;
    top: -10px;    
}



.clientAcceptedrejected li a {
    background-color:rgb(255, 200, 100);
    color: black;
    display: block;
	height: 9em;
	padding: 1em;
	text-decoration: none;
	width: 9em;
    -moz-box-shadow: 5px 5px 5px #776C6C;
    -webkit-box-shadow: 5px 5px 5px #776C6C;
    box-shadow: 5px 5px 5px #776C6C;
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);   
    -moz-transition: -moz-transform .15s linear; 
    -o-transition: -o-transform .15s linear; 
    -webkit-transition: -webkit-transform .15s linear;   
}

.needDisucssion li{
	list-style-type: none;
	margin: 3px 3px 3px 0;
	margin-left: 6%;
}

.needDisucssion li p {
    font-family:'Reenie Beanie', serif;
    font-size: 165%;
}


.needDisucssion li:nth-child(even) a {
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    position: relative;
    top: 5px;    
}
 
.needDisucssion li:nth-child(3n) a {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: relative;
    top: -5px;    
}
 

.needDisucssion li:nth-child(5n) a {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    position: relative;
    top: -10px;    
}



.needDisucssion li a {
    background-color:rgb(66, 190, 72);
    color: black;
    display: block;
    height: 9em;
	padding: 1em;
	text-decoration: none;
	width: 9em;
    -moz-box-shadow: 5px 5px 5px #776C6C;
    -webkit-box-shadow: 5px 5px 5px #776C6C;
    box-shadow: 5px 5px 5px #776C6C;
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);   
    -moz-transition: -moz-transform .15s linear; 
    -o-transition: -o-transform .15s linear; 
    -webkit-transition: -webkit-transform .15s linear;   
}

.redflag li{
	list-style-type: none;
	margin: 3px 3px 3px 0;
	margin-left: 6%;
}

.redflag li p {
    font-family:'Reenie Beanie', serif;
    font-size: 165%;
}

.redflag li:nth-child(even) a {
    -moz-transform: rotate(4deg);
    -webkit-transform: rotate(4deg);
    -o-transform: rotate(4deg);
    position: relative;
    top: 5px;    
}
 
.redflag li:nth-child(3n) a {
    -moz-transform: rotate(-3deg);
    -webkit-transform: rotate(-3deg);
    -o-transform: rotate(-3deg);
    position: relative;
    top: -5px;    
}
 
.redflag li:nth-child(5n) a {
    -moz-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    -o-transform: rotate(5deg);
    position: relative;
    top: -10px;    
}

.redflag li a {
    background-color:#d9534f;
    color: black;
    display: block;
    height: 9em;
	padding: 1em;
	text-decoration: none;
	width: 9em;
    -moz-box-shadow: 5px 5px 5px #776C6C;
    -webkit-box-shadow: 5px 5px 5px #776C6C;
    box-shadow: 5px 5px 5px #776C6C;
    -moz-transform: rotate(6deg);
    -webkit-transform: rotate(6deg);
    -o-transform: rotate(6deg);   
    -moz-transition: -moz-transform .15s linear; 
    -o-transition: -o-transform .15s linear; 
    -webkit-transition: -webkit-transform .15s linear;   
}

#dialog-confirm{
	display:none;
}



footer{
	text-align: center;
}

.sprintTable{
     margin:0px 5px;
}

/*.sprintTable{
   
    width:1040px;
    height: 246px;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
     margin-right: 10px;
}
*/

.sprintTable thead th{
    width:10%;
  border: 1px solid white !important;
  padding: 5px;
  border-radius: 15px 15px 0px 0px;

}
.sprintTable td{
     border: 1px solid #428bca;
}


.addStoryStyle1{
    float: right;
   margin-top: -32%;
margin-right: -15%;
    border: 1px solid black;
    /*background: #fcffa3;*/
    background:#004FFE;
    height: 25px;
    width: 26px;
}





.storycolumn{
    background:white;
   padding-top: 9px;
   padding-bottom: 16px;
}

.inProcess{
    background: white;
    color:blue;
    padding-top: 9px;
    padding-bottom: 16px;
}

.done{
    background: white;
    color:brown;
    padding-top: 9px;
    padding-bottom: 16px;
}

.poAcceptedrejected{
    background: white;
    color:purple;
    padding-top: 9px;
    padding-bottom: 16px;
}

.clientAcceptedrejected{
    background: white;
    color:green;
    padding-top: 9px;
    padding-bottom: 16px;
}

.needDisucssion{
    background:white;
    color:grey;
    padding-top: 9px;
    padding-bottom: 16px;
}

.redflag{
    background: white;
    color:brown;
    padding-top: 9px;
    padding-bottom: 16px;
}

.addStoryStyle{
	float: right;
	margin-right: 3%;
	border: 1px solid black;
	/*background: #fcffa3;*/
	background:#004FFE;
	height: 25px;
	width: 26px;
}

.addLink{
	color:rgb(235, 229, 229);
    margin-left:6px;
}
/*
#item1{
	display:none;
}

#item2{
	display:none;
}

#item3{
	display:none;
}
*/
 
.active{
	font-weight: bold;
}

.panel-default > .panel-heading{
	background-color:#20A8D8;	
    height:50px;	
    margin-top:0px;
}
.panel-primary > .panel-heading {
color: white;
background-color: #428bca;
border-color: #428bca;
}
.list-group{
	width:30%;
    margin-left:60px;
}	

.dropdiv{
	width:40%;
	position:absolute;
	margin-top:-144px;
	margin-left:600px;
    border:2px solid yellow;
}
	
.dropTable thead th{
    
    height: 46px;
    width: 15%;
    text-align: center;
   
    width: 10%;
    /*border: 1px solid white !important;*/
    padding: 6px;
    color: white;
    background-color: #428bca;
    border:2px solid  #428bca;
    /*border-radius: 15px 15px 0px 0px;*/
}
		

.dropTable
{
width: 959px;
height: 426px;
overflow: auto;
margin-left: -1px;
margin-top: -1px;
border: 1px solid #428bca;
}
			

.storycell li{
	margin: 3px -11px 3px 11px;
	margin-left: 22%;
	background:rgb(0, 178, 255);
	color:#555555;
	padding: 23px;
	width: 100px;
	height: 67px;
	text-align: center;
	list-style-type: none;
}
		
#main {
	
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    width:960px;
    border: 2px solid blue;
    display: inline-block;
    border: 1px solid #ddd;
    position: absolute;
    top: 15%;
    left: 21%;
    background: white;
    height: 430px;
    overflow:auto;
    border-radius: 8px;
    }


    #showLeft
    {
        margin-left:314px;
        margin-top:-43px;
    }

.backlog
{
	width:438px;
	margin-top:40px;
	overflow-y:scroll;
	height:80%;}


.btn {
	margin-left:358px;
}

#graphical_representation{
	
	height:466px;
	width:500px;
	border:1px solid red;
    margin-left: 10px;
    margin-top: 12px;
    margin-bottom: 12px;
    margin-right: 10px;
}

.tscroll
{
    overflow-y:scroll;}

.chart5{
	display:none;
	top:20%;right:21.5%;
	height:510px;
	width:390px;
	border:1px solid #eee;
	border-radius: 8px;
}


.panel
{   
    width:400px; !important
}

.info1,.info2,.info3,.info4{
    height: 60px;
    border: 1px solid #eee;
    box-shadow:0px 0px 5px #c0c0c0;
  
}

.title {
    display: inline;
    text-align: center;   
    color:white;
    padding-top: 2%;
}

.info1 .title{
    background-color: #36a9e1;;
}
.info2 .title{
    background-color: #ff5454;
}
.info3 .title{
    background-color: #bdea74;
}
.info4 .title{
    background-color: #36a9e1;
}
.title, .information{
    height: 100%;
    /*padding-top: 8%;*/
    font-size: 17px;
}

.information{
   background-color:white;
    display: inline;
/*    border:1px solid green;*/
    float: right;
    text-align: center;
    padding-top: 6%;
}

    

/*css for sliding begins*/
.showLeftPush
{
height: 50px;
width: 62px;
/*margin-top: -96px;*/
position: fixed;
z-index: 1000;
/*margin-left: -76px;*/
border: 2px solid #555;
border-radius: 2px;
}
.cbp-spmenu {
    background: #47a3da;
    position: absolute;
margin-top: -78px;
}
 
.cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: black;
}
.cbp-spmenu-vertical {
    width: 240px;
    height: 90%;
    top: 128px;
    z-index: 1000;
    overflow:scroll;
}
.cbp-spmenu-left {
    left: -240px;
}
 

 
.cbp-spmenu-left.cbp-spmenu-open {
    left: 0px;
}
 
.cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0;
}
 
.cbp-spmenu-push-toleft {
    left: -240px;
}
.cbp-spmenu,
.cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
/*css for sliding*/


#cbp-spmenu-s1::-webkit-scrollbar {
    width: 10px;
}

#cbp-spmenu-s1::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 1px 1px 6px #666;
    background-color: #fff;
    border-radius: 0px;
}

#cbp-spmenu-s1::-webkit-scrollbar-thumb {
    background-color: #bbb;
}


#main::-webkit-scrollbar {
    width: 10px;
}

#main::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 1px 1px 6px #666;
    background-color: #fff;
    border-radius: 0px;
}

#main::-webkit-scrollbar-thumb {
    background-color: #bbb;
}