.body{
	background-color:#eee !important;
	width:100%;
	height:100%;
}

.container{
	background-color:#fff;
	width:70%;
	border: 1px solid red;
	max-width: 900px;
}

.sideboard{
	position: relative;
	/*border:1px solid green;*/
	width:30%;
	float: :left;
}

.centerdiv{
	position: relative;
	/*border:1px solid green;*/
	width:60%;
	float: :right;
	/*display:inline;*/
}