<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/HotelTable">Hotel</a></li>
    <li><a href="#/ContactTable">Contact</a></li>
  </ul>
  <h3 class="text-muted">UI project</h3>
</div>

<!-- <div class="jumbotron">
  <h1>'Hellooo' </h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<!-- <div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
<div class="sideboard">
This is the sideboard.

</div>
<div id="tabs">
  <ul>
    <li><a href="#tabs-1">Home</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
    <li><a href="#tabs-1">Sprints</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
    <li><a href="#tabs-3">Table</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
  </ul>
  <div id="tabs-1">
    <p> The place to fill for Home tab contents</p>
  </div>

  <div id="tabs-2">
    <p> The place to fill for Sprints tab contents</p>
  </div>

  <div id="tabs-3">
    <p> Table</p>
    <table>
      <tr>
        <th>Header1</th>  
        <th>Header2</th>  
      </tr>
      <tr>
        <td>data 1</td>
        <td>data 2</td>
      </tr>
    </table>
  </div>
</div>

<a href="/abc">go to abc.html</a>

<div class="footer">
  <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
</div>
