<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
    <li><a ng-href="#/HotelTable">Hotel</a></li>
    <li><a href="#/ContactTable">Contact</a></li>
  </ul>
  <h3 class="text-muted">UI project</h3>
</div>

<div class="sideboard">
This is the sideboard.
</div>

<div class="centerdiv">
  <div id="tabs">
    <ul>
      <li><a href="#tabs-1">Home</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
      <li><a href="#tabs-2">Sprints</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
      <li><a href="#tabs-3">Table</a> <span class="ui-icon ui-icon-close" role="presentation">Remove Tab</span></li>
    </ul>
    <div id="tabs-1">
      <p> The place to fill for Home tab contents</p>
    </div>

    <div id="tabs-2">
      <p> The place to fill for Sprints tab contents</p>
    </div>

    <div id="tabs-3">
      <p> Table</p>
      <table>
        <tr>
          <th>Header1</th>  
          <th>Header2</th>  
        </tr>
        <tr>
          <td>data 1</td>
          <td>data 2</td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="footer">
  <p>We use this space for status bar.</p>
</div>
