
<div class="col-4-md-8">
	<div class=""> <!-- downdiv after charts div  -->
		<div class="infodivs">
			<div class="info1">
				<div class="title"><span>fa</span>	Start Date </div>
				<div class="information">	01-12-2014 </div>
			</div>
			<div class="info2">
				<div class="title"><span>fa</span>	End Date </div>
				<div class="information">	31-12-2014 </div>
			</div>
			<div class="info3">
				<div class="title"><span>fa</span>	Resources </div>
				<div class="information">	7 Developers </div>
			</div>
			<div class="info4">
				<div class="title"><span>fa</span>	Info </div>
				<div class="information">	Dummy </div>
			</div>

<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-primary">
		  <div class="panel-heading">Panel heading without title</div>
		  <div class="panel-body chart1">
		    Panel content
		  </div>
		</div>
    </div>
    <div class="col-sm-6">
        <div class="panel panel-primary">
		  <div class="panel-heading">Panel heading without title</div>
		  <div class="panel-body chart2">
		    Panel content
		  </div>

		</div>
    </div>
     <div class="col-sm-6">
        <div class="panel panel-primary">
		  <div class="panel-heading">Panel heading without title</div>
		  <div class="panel-body chart3">
		    Panel content
		  </div>
		</div>
    </div>
     <div class="col-sm-6">
        <div class="panel panel-primary">
		  <div class="panel-heading">Panel heading without title</div>
		  <div class="panel-body chart4">
		    Panel content
		  </div>
		</div>
    </div>

  
</div>

<div class="chart5">Chart5</div>

