<div class="modal-body" ng-controller="chartController">
	<table class="modalTable" ng-controller="chartBody">
  		<tr>
    		<td colspan="2" class="classHead" align="left" valign="middle">Story Status</td>
    	</tr>
  		<tr>
    		<td width="80%" class="classMainArea" valign="top" style="padding-top: 10px;">
    			<div class="row">
    				<div class="col-md-6 chart5"></div>
	    			<!-- <div class="col-md-3">
             
            </div> -->
	    			<div class="col-md-3">
              <input type="button" class="btn btn-primary rejectButton" value="OK" ng-click="nextSection()">
            </div>
    			</div>
    		</td>
    	</tr>
  </table>
</div>

<div class="modal-placeholder" ng-click="close();"></div> 
</div>