<script>
var menuLeft = document.getElementById( 'cbp-spmenu-s1' ),
        showLeftPush = document.getElementById( 'showLeftPush' ),
        body = document.body;

    $(".showLeftPush").click(function() {
    console.log("chceking beore classie");
   $('#cbp-spmenu-s1').toggleClass('cbp-spmenu-open' );
    console.log("clicking push");
  
     $('#main').addClass('cbp-spmenu-push-toleft' );
    //$('#cbp-spmenu-s1').addClass('cbp-spmenu-open' );
    //disableOther( 'showLeftPush' );
});
</script>
 
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-left" id="cbp-spmenu-s1">
    <div  ng-repeat="item in items">
        <ul class="list-group" id="sprintlist">
            <li class= "item" id="item{{$index}}" draggable > <a>
                <h4> {{item}} </h4>
                <p> About story </p>
                </a>
            </li>
        </ul>
    </div> 
</nav>

            <button class="showLeftPush" ><span class="glyphicon glyphicon-align-justify"></span></button>
    
<div id="main" ng-controller="OverviewController">
    <!-- Table -->
    <!--<button type="button" id="showLeft" class="btn btn-default btn-lg">-->
    
    <div class="row">
      
        <!--table div-->
            <table border="1" class="dropTable table-responsive" cellspacing="2px" cellpadding="2px" margin="2px">
                <thead>
                    <tr panel panel-primary>
                        <th class="panel-heading">Sprint1</th>
                        <th panel-heading>Sprint2</th>
                        <th panel-heading>Sprint3</th>            
                    </tr>
                </thead>
                <tbody class="tscroll">
                    <tr class="storycolumn">
                        <td   class="inProcess"  droppable drop="handleDrop()"  data-column="1"></td>
                        <td   class="inProcess" droppable drop="handleDrop()" data-column="2"></td>
                        <td   class="inProcess" droppable drop="handleDrop()" data-column="3"></td>
                    </tr>       
                </tbody>
            </table>
            <span class="addStoryStyle" ng-click="addSprint()" title="Add sprint">
                                <a class="addLink" href=""><i class="fa fa-plus-square"></i></a>
                            </span>
      
    </div>
</div>