
<!DOCTYPE html>
<html lang="en">
	<head>
		 
		
	<script>
	console.log("running script");
		$("#showLeft").click(function () {
 	console.log("running script");
    // Set the effect type
    var effect = 'slide';
 
    // Set the options for the effect type chosen
    var options = { direction: 'left' };
 
    // Set the duration (default: 400 milliseconds)
    var duration = 700;
 
    $('.backlogbottom').toggle(effect, options, duration);
});


	</script>
		<!--<script src="js/modernizr.custom.js"></script>-->
	</head>
	<body>
		<div id="main" ng-controller="OverviewController">

			<div class="panel panel-default backlog">
 
  				<div class="panel-heading">Backlog <button type="button" id="showLeft" class="btn btn-default btn-lg">
  				<span class="glyphicon glyphicon-align-justify"></span></button>
  				</div>
  				<div class="backlogbottom" ng-repeat="item in items">
  				<ul class="list-group storycell">
    			<li class="list-group-item" "item" id="item{{$index}}" draggable "> {{item}}</li>
  				</ul>
				</div>
			</div>
					
			

			<div class="table-responsive dropdiv">
  
  		 	<!-- Table -->
  			<table border="1 " class="table dropTable" cellspacing="2px" cellpadding="2px" margin="2px">
			<thead>
			<tr>
				<th>Sprint1</th>
				<th>Sprint2</th>
				<th>Sprint3</th>
				
				
			</tr>
			</thead>
			<tbody>
			<tr>
			<td   class="storycell"  droppable drop="handleDrop()" id="1" data-column="1"></td>
			<td   class="storycell" droppable drop="handleDrop()" data-column="2"></td>
			<td   class="storycell" droppable drop="handleDrop()" data-column="3"></td></tr>
			
			
			</tbody>
			</table>
			</div>
		</div>
	</body>
	  
	<script src="scripts/app.js"></script>
</html>