<div class="modal-body" ng-controller="ModalCtrl">
	
	<table class="modalTable" ng-controller="sprintModalCtrl">
  		<tr>
    		<td colspan="2" class="classHead" align="left" valign="middle">PO stories (Accepted / Rejected)</td>
    	</tr>
  		<tr>
    		<td width="80%" class="classMainArea" valign="top" style="padding-top: 10px;">
    				<div class="row">
    				<div class="col-md-6">Do you want to accept the picked story??</div>
	    			<div class="col-md-3"><input type="button" class="btn btn-primary acceptButton" value="Accept" ng-click="nextSection()"></div>
	    			<div class="col-md-3"><input type="button" class="btn btn-primary rejectButton" value="Reject" ng-click="nextSection()"></div>
    			</div>

    		</td>
    	</tr>

	<div>
		 
	</div>
	
	</td>
  </tr>
</table>
</div>



<div class="modal-placeholder" ng-click="close();"></div> 
</div>